*.mp4
*.pdf
学习视频
venv
*.exe
__pycache__
Seq_11_Basic
学习资料/第7章 Django/~$3章 Django的默认数据库SQLite3.doc
学习资料/第7章 Django/~$6章 DjangoQuerySet 进阶.doc
~$*
python_Django
第7章 Django
python_Django/*
python_NoSql
python_Django/.idea/modules.xml
python_Django/.idea/modules.xml
python_Django/.idea/python_Django.iml
python_Django/.idea/workspace.xml