*.mp4
*.pdf
学习视频
venv
*.exe
__pycache__
Seq_11_Basic
学习资料/第7章 Django/~$3章 Django的默认数据库SQLite3.doc
学习资料/第7章 Django/~$6章 DjangoQuerySet 进阶.doc
~$*
.DS_Store

第12章 AI
第13章 python亿金二手车项目
python_DataVisualization
python_NoSql
