<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原生Ajax、后台传list</title>
</head>
<body>
<button id="btn">ajax</button>
<ul id="name"></ul>
<script>
    <!-- 原生ajax -->
    document.getElementById("btn").onclick = function (ev) {
        xhr = new XMLHttpRequest()
        xhr.open("get", "ajax1")
        xhr.send()
        xhr.onreadystatechange = function (ev) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                {#alert(xhr.responseText)#}
                json = JSON.parse(xhr.responseText)
                for (var t = 0; t < json.length; t++) {
                    li = document.createElement("li")
                    li.innerText = json[t]
                    document.getElementById("name").appendChild(li)
                }
            }
        }
    }
</script>
</body>
</html>