<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask+MySQL实现分页功能</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ADDRESS</td>
     </tr>
        {% for p in persons %}
            <tr>
        <td>{{ p[0] }}</td>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }}</td>
     </tr>
        {% endfor %}

</table>
{% for p  in list1 %}
    <a href="page?pageIndex={{ p }}">第{{ p }}页</a>&nbsp;&nbsp;
{% endfor %}

</body>


</html>