<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加的页面</title>
</head>
<body>
<form action="Add" method="post">
    <table>
        <tr>
            <td>请输入学生的姓名：</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>请输入学生的地址：</td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="添加"></td>
        </tr>
    </table>
</form>
</body>
</html>